/* 
VARIABLES
*/

:root {
	--clr-purple: hsl(259, 100%, 65%);
	--clr-red: hsl(0, 100%, 67%);
	--clr-white-900: hsl(0, 0%, 100%);
	--clr-white-700: hsl(0, 0%, 94%);
	--clr-grey-200: hsl(0, 0%, 86%);
	--clr-grey-400: hsl(0, 1%, 44%);
	--clr-black: hsl(0, 0%, 8%);

	--fnt-wgt-normal: 400;
	--fnt-wgt-bold: 700;
	--fnt-wgt-xbold: 800;
	--fnt-fam: "Roboto";
}

/* 
FONT IMPORT
*/

@font-face {
	font-family: "Roboto";
	src: url(./assets/Roboto_variable/Roboto-Italic-VariableFont_wdth_wght.ttf)
		format("truetype-variations");
	font-display: swap;
	font-style: italic;
	font-weight: 1 999;
}

@font-face {
	font-family: "Roboto";
	src: url(./assets/Roboto_variable/Roboto-VariableFont_wdth_wght.ttf)
		format("truetype-variations");
	font-display: swap;
	font-style: normal;
	font-weight: 1 999;
}

/* 
CSS RESET
 */

/*
  1. Use a more-intuitive box-sizing model.
  2. Remove default margin
*/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/*
  8. Remove underline from anchor links
*/

a,
a:visited,
a:active {
	text-decoration: none;
}

/* 
GLOBAL
*/

body {
	font-family: var(--fnt-fam);
	font-style: normal;
	font-size: 1rem;
	background-color: var(--clr-white-700);
	width: 100%;
}

main {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 
MOBILE VIEW
*/

/* layout */

.ageCalculator {
	background-color: var(--clr-white-900);
	width: min(90vw, 500px);
	margin: 7em 1em 0;
	padding: 2em 1.4em;
	border-radius: 23px;
	border-bottom-right-radius: 90px;
	position: relative;
}

/* ---- form ---- */

form {
	padding-bottom: calc(4rem - 3vw);
	margin-bottom: 2em;
	border-bottom: 1.5px solid var(--clr-grey-200);
	position: relative;
	display: flex;
}

.ageCalculator__form__inputs {
	display: inline-block;
	width: min(30.5%, 120px);
	margin-right: 4px;
}

input {
	display: block;
	width: min(100%, 110px);
	padding: 0.3em 0.7em;
	outline: none;
	border: 1px solid var(--clr-grey-200);
	border-radius: 6px;
	font-weight: var(--fnt-wgt-xbold);
}

input:focus {
	border: 1px solid var(--clr-purple);
}

/* typo */

/* ---- form ---- */

label {
	color: var(--clr-grey-400);
	font-size: 0.7rem;
	font-weight: var(--fnt-wgt-xbold);
	text-transform: uppercase;
	letter-spacing: 3px;
}

input {
	color: var(--clr-black);
	font-size: 1.1rem;
	cursor: pointer;
}

input::placeholder {
	font-weight: var(--fnt-wgt-bold);
	color: var(--clr-grey-400);
}

/* ---- output ---- */

.output {
	font-size: clamp(3rem, 5vw, 4rem);
	font-weight: var(--fnt-wgt-xbold);
	font-style: italic;
	line-height: 1.2;
}

span {
	color: var(--clr-purple);
}

/* ---- error state ---- */

.error__text {
	color: var(--clr-red);
	font-size: .63rem;
	font-style: italic;
	font-weight: var(--fnt-wgt-normal);
	margin-top: .35em;
}

.error__border {
	border: 1px solid var(--clr-red);
}

/* assets */

.form-btn {
	width: 50px;
	height: 50px;
	display: block;
	background-color: var(--clr-purple);
	border-radius: 50%;
	border: none;
	padding: 0.7em;
	position: absolute;
	top: calc(9.28rem);
	/* 
	left: calc(32vw + 8px); */
	cursor: pointer;
} 

.form-btn:hover {
	background-color: var(--clr-black);
}

/* @media (min-width: 31.25em) {
	.form-btn {
		left: calc(69.5vw + 12px);
	}
}

@media (min-width: 34.9375em) {
	.form-btn {
		left: 410px;
	}
} */
